* {
  margin: 0;
  padding: 0;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html{

	background-image: url(https://c1.wallpaperflare.com/preview/945/513/153/puzzles-sudoku-leisure-rates.jpg);
	background-size:cover;
	
}
body {
  width: 100vw;
  height: 100vh;
}
#container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* with css reset */
* { box-sizing: border-box; }
table { margin: 10px; background-color: rgb(255, 255, 255); }
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 1.5px solid rgb(194, 193, 193);
	height: 4vw;
	width: 4vw;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}
input {
	padding: 0;
	text-align: center;
	border: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}

input:hover {
	background: rgb(224, 222, 222);
}

.btn{
	width: 100px;
	height: 40px;
	border-radius:30px;
	border: none;
	background-color: black;
	color: white;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
}
.btn:hover{
	background-color: rgb(255, 253, 253);
	
	color: rgb(0, 0, 0);
}

h1{
	font-family:monospace;
	color: ;
	font-size: 5em;
}